html, body {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    background-color: #FEF;
    font-size: 18px;
    width: 1080px;
    margin: 0 auto;
}

br {
    margin: 0.5em;
}

input[type=text] {
    font-size: 2em;
    font-family: monospace;
    width: 100%;
}

.bitDisplay {
    font-family: monospace;
    border: 1px solid black;
    padding: 3px;
    width: 1em;
    height: 1em;
    margin: 0em 0.5em;
    font-weight: bold;
}

.blockEquation {
    display: inline-block;
    vertical-align: top;
}

.superscript {
    position: inline-block;
    font-size: 0.7em;
    position: relative;
    top: -0.5em;
    margin-left: 0.1em;
}

#modeSwitcher {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#decimalPortionWorking, #integerPortionWorking {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#integerPortionWorking td {
    padding-left: 1em;
    padding-right: 1em;
}

#decimalPortionWorking td {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#decimalStringSpan {
    word-break: break-all;
}

.division {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.multiplicationLeft {
    text-align: right;
}

.multiplicationRight {
    border-left: 1px solid black;
    font-weight: bold;
}

hr {
    margin: 3em 0;
}

#revisionsDiv {
    display: none;
}